@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate';
}

.page-hero {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1615876234886-fd9a39fda97f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 130px;
    padding: 0;
}

.page-hero h1 {
    font-size: 40px;
    background: none;
    color: rgba(255, 255, 255, 0.9); 
    text-align: center;
}

.content {
    padding: 50px;
    background-color: #fafaf1;
}

.blog-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 20px;
}

.blog-image img {
    max-width: 800px;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.blog-date {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    grid-column-gap: 10px;
    display: flex;
}

.blog-sub-title {
    font-weight: 700;
}

.blog-detail {
    margin-right: 200px;
}

.blog-detail p {
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: justify;
}

.blog-detail hr {
    margin-top: 50px;
    margin-bottom: 30px;
}

.blog-detail h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

.blog-detail ul, ol {
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 140%;
    text-align: justify;
}

a:link, a:visited {
    color: rgb(197, 112, 93);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc {
    padding-left: 20px;
}

.section {
    padding-left: 20px;
}

.blog-detail img {
    padding: 30px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.blog-author {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 20px;
    grid-column-gap: 5px;
}

@media(max-width:768px) {
    .page-hero h1 {
        font-size: 40px;
    }

    .blog-date {
        margin-bottom: 10px;
    }

    .blog-image img {
        max-width: 400px;
    }

    .blog-detail {
        margin-right: 0;
    }

    .blog-detail p {
        font-size: 15px;
    }

    .blog-detail h2 {
        font-size: 25px;
    }

    .blog-detail ul, ol {
        font-size: 15px;
        padding-left: 20px;
    }

    .content {
        padding: 30px;
    }

    .section {
        padding-left: 5px;
    }

    .section p {
        padding-left: 0;
    }

    .toc h2 {
        font-size: 30px;
    }
    
    .toc li {
        font-size: 20px;
        padding: 5px;
    }
}