@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

/* Global */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Mate', serif;
    line-height: 1.6;
}


/* Row section */
.baris {
    background-color: rgb(254, 252, 249); 
    text-align: center; 
    padding: 120px 0; 
}

.first-row {
    color: #FF4500;
    font-weight: bold;
    font-size: 48px; 
    margin: 0; 
    line-height: 1.1;
    margin-left: 100px;
}

.second-row {
    color: #384B70; 
    font-weight: bold; 
    font-size: 48px; 
    margin: 0; 
    line-height: 1.1; 
    margin-left: 100px;
}

/* Responsive */
@media (max-width: 768px) {
    .featured-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .featured-container {
        grid-template-columns: 1fr;
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-list li {
        margin-bottom: 10px;
    }
}