@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

/* Global */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Mate';
    line-height: 1.6;
}

/* Marquee text */
.text-berjalan {
    font-size: 15px;
    color: #FCFAEE;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8001F;
}

/**************************/

/* Header */
header {
    display: flex;
    position: absolute; 
    left: 0; 
    right: 0; 
    z-index: 10;
    padding: 10px; 
}

.logo {
    flex-basis: auto;
    display: flex;
    text-align: left;
    margin-right: 20px;
    font-size: 25px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px
}

.menu-list li a {
    position: relative;
    text-decoration: none;
    color: #384B70;
    font-size: 1.7em;
    padding: 0 5px;
    margin-right: 5px;
}

.menu-list a:hover {
    color: #B8001F;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #384B70;
    font-size: 1em;
}

.search {
    display: flex;
    align-items: center;
}

.search a {
    margin-left: 15px;
    text-decoration: none;
    color: #384B70;
    font-size: 1.7em;
}

.search a:hover {
    color: #B8001F;
}

/**************************/

/* Slideshow */
.slideshow-container {
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.mySlides {
    display: block; 
    width: 100%;
    height: 100%; 
    object-fit: fill; 
}

/* Overlay Text  On Slideshow Image*/
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #384B70;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%; 
}

.overlay-text h2 {
    font-size: 4em;
    margin: 0;
}

/**************************/

/* Big Container for Content */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

/**************************/

/* Featured Post */
.featured-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-top: 10px;
    font-weight: bold;
}

.section-title {
    color: #384B70;
}

.section-title h2 {
    margin-bottom: 10px;
    font-size: 2em;
    text-align: left;
}

.box {
    max-height: 390px;
    max-width: 275px;
    background-color: #C4DFDF;
    font-size: 40pt;
    transition: transform 0.3s; /* Animasi saat hover */
    border-radius: 15px;
    font-size: 25px; 
    text-align: center;
}

.box img{
    height: 100%;
    width: 100%;
    transition: transform 0.3s; /* Animasi saat hover */
    border-radius: 15px;
}

.box a{
    text-decoration: none;
    color: #384B70;
}

.box:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
}

/**************************/

/*Image Page Section*/
.section-title2 {
    color: #384B70;
}

.section-title2 h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 2em;
    text-align: center;
    color: #384B70;
}

.section-title2 p{
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 1.1em;
    text-align: center;
    color: #384B70;
}

.blog-media img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.featured-posts{
    margin-top: 50px;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* General container styling */
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Icon styling */
.icon {
    flex: 1;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0f5f3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    font-size: 20px;
    color: black; 
}

/* Read more button styling */
.read-more {
    flex: 1;
    text-align: center;
}

.read-more-btn {
    padding: 10px 20px;
    border: 1px solid #333;
    background: none;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #f0f0f0;
}

/* Author styling */
.author {
    flex: 1;
    text-align: right;
    font-family: 'Arial', sans-serif;
    color: #666;
}

.author span {
    color: grey; 
}

.row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.post-card a {
    text-decoration: none;
    color: #B8001F
}

.post-card {
    margin-bottom: 20px;
}

.post-card img {
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.post-card .hashtag {
    background-color: #b3f2e3;
    padding: 5px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}

.post-card h5 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-card p {
    font-size: 16px;
    text-align: center;
}

.post-card .meta-info {
    font-size: 14px;
    color: gray;
}

/* Recipe Section */

.recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; 
    height: 350px;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}

.text-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-section a {
    color: #007bff;
    text-decoration: none;
}

.text-section a:hover {
    color: #ff5733; 
    text-decoration: underline;
}

.recipe-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B8001F;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.recipe-btn:hover {
    background-color: #0056b3; 
}

.image-section {
    flex: 1;
    text-align: right;
    margin-right: 50px;
    border-radius: 15px;
}

.image-section img {
    width: 70%;
    transform: rotate(5.5deg); 
    margin-top: -10px; 
    object-fit: cover;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-section {
        text-align: center;
        margin-top: 20px;
    }

    .image-section img {
        width: 100%;
        transform: none; 
    }
}

/* Explore Section */
.explore-section, .popular-posts {
    background-color: white;
    padding: 80px 180px;
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 10px;
}

.popular-posts h2 {
    text-align: center;
    margin-bottom: 20px;
}

.explore-section .explore-description {
    text-align: center; 
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 18px; 
}

.explore-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 0px;
}

.post {
    width: 30%;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 90%;
    height: 80%;
    border-radius: 5px;
}

.post a{
    text-decoration: none;
    color: black;
}

.post h3 {
    margin-bottom: 0px;
}

.container-button-main a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    width: 100%; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #B8001F;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #FCFAEE;
}

button:hover{
    background-color: #0056b3;
}


/* Brands Section */
.brands-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center; 
    background-color: #B8001F;
    margin-bottom: 3cap;
}

.wrap {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
}

.entry {
    margin: 10px; 
}

.entry img {
    max-width: 70%; 
    height: auto; 
}

.gallery-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.gallery-item img {
    width: 500px; 
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1; 
}
  

/* Social Media */
.social-media-icons {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    gap: 20px
}

.social-media-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Comment Section */
.comment-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comment-content {
    margin-left: 15px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    flex-grow: 1;
}

.comment-content h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.comment-content h4 span {
    font-size: 14px;
    color: #777;
}

.comment-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.reply-btn {
    background-color: #B8001F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.reply-btn:hover {
    background-color: #0056b3;
}

.comment-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.comment-form textarea,

.comment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.comment-form button {
    padding: 10px 20px;
    background-color: #B8001F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 30px 0;
    color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 20px;
    color: #444;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    color: #444;
}

.social-icons a:hover {
    color: #007bff;
}

.footer-bottom {
    padding: 15px 0;
    background-color: #e1e1e1;
    font-size: 12px;
    color: #333;
    margin-top: 20px;
}

.footer-bottom a {
    color: #007bff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Untuk layar lebih kecil (tablet dan smartphone) */
@media only screen and (max-width: 768px) {
    
    header {
        flex-direction: column;
        padding: 10px;
    }

    .menu-list {
        margin-right: 0;
    }

    .menu-list li {
        margin: 10px 0;
    }

    .menu-list li a {
        font-size: 0.9em;
    }

    .logo {
        font-size: 20px;
    }

    .text-berjalan {
        font-size: 12px;
        padding: 10px;
    }

    .slideshow-container {
        height: 60vh; 
    }

    .overlay-text h2 {
        font-size: 1.5em;
    }

    /* featured categories menjadi satu kolom */
    .feature-container {
        flex-direction: column;
    }

    .feature-item {
        width: 100%; 
        margin: 10px 0;
    }

    .section-title h2, .section-title p {
        margin-left: 20px;
    }

    .overlay-text h2 {
        font-size: 1.5em; 
    }

    .overlay-text h3 a {
        font-size: 1em;
    }

    .menu-list {
        display: none; 
    }

    .search {
        display: none;
    }

    .mySlides img {
        height: 60vh; /* viewport height */
    }

    .explore-posts {
        flex-direction: column;
    }

    .post {
        width: 100%;
        margin: 5px 0;
    }
}

/* Untuk layar lebih kecil (smartphone) */
@media only screen and (max-width: 480px) {

    
    .menu-list li a {
        font-size: 0.8em;
    }

    
    header {
        padding: 5px;
    }

    .logo {
        font-size: 18px;
    }

    
    .text-berjalan {
        font-size: 10px;
    }

    .overlay-text h2 {
        font-size: 1.2em;
    }

   
    .feature-container {
        padding: 10px;
    }

    .feature-item {
        width: 100%;
        margin: 5px 0;
    }

    .overlay-text h2 {
        font-size: 1.2em; 
    }

    .overlay-text h3 a {
        font-size: 0.9em;
    }

    .slideshow-container {
        height: 50vh; 
    }

    .mySlides img {
        height: 50vh; 
    }
}
