<!DOCTYPE html>
<html lang="en" ng-app="ArticleApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Editor</title>
    <link rel="stylesheet" href="../style/article.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../../app.js"></script>
    <script src="../controller/article.controller.js"></script>
</head>
<body ng-controller="ArticleController">
    <h1>Article Editor</h1>

    <!-- Article Details -->
    <div class="input-field">
        <label for="title"><strong>Title:</strong></label>
        <input type="text" id="title" ng-model="article.title" placeholder="Enter article title" style="width: 100%;" />
    </div>

    <div class="input-field">
        <label for="author"><strong>Author:</strong></label>
        <input type="text" id="author" ng-model="article.author" placeholder="Enter author name" style="width: 100%;" />
    </div>

    <div class="input-field">
        <label for="category"><strong>Category:</strong></label>
        <select id="category" ng-model="article.category" ng-options="cat for cat in categories">
            <option value="" disabled>Select a category</option>
        </select>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button type="button" ng-click="applyFormat('bold')"><b>Bold</b></button>
        <button type="button" ng-click="applyFormat('italic')"><i>Italic</i></button>
        <button type="button" ng-click="applyFormat('underline')"><u>Underline</u></button>
        <button type="button" ng-click="applyFormat('insertOrderedList')">Ordered List</button>
        <button type="button" ng-click="applyFormat('insertUnorderedList')">Unordered List</button>
    </div>

    <!-- Editable Content -->
    <div id="editor" contenteditable="true" ng-model="article.contentHTML"></div>

    <br />

    <!-- Save Button -->
    <button type="button" ng-click="saveArticle()">Save Article</button>
</body>
</html>
