<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="HomeController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font buat footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../../assets/components/icon/icon.png" type="image/png"/>
    <title>Home - Chic & Simple</title>
    <!-- CSS HOME-->
    <link rel="stylesheet" href="../style/home.css">
    <!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src ="../../app.js"></script>
    <script src ="../services/CategoryService.js"></script>
    <script src ="../services/EventService.js"></script>
    <script src ="../controller/home.controller.js"></script>
    <script src ="/client/app/script/home.js"></script>
    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    
    <!-- HEADER -->
    <header ng-controller="HomeController">
        <div class="logo">
            <a href="#/home"><b>Chic & Simple.</b></a>
        </div>
        
        <!-- Navigation Menu -->
        <nav>
            <ul>
                <li ng-class="{'active': currentPage === 'home'}"><a href="#/home">Home</a></li>
                <li ng-class="{'active': currentPage === 'style'}"><a href="#/style">Articles</a></li>
                <li ng-class="{'active': currentPage === 'contact'}"><a href="#/contact">Events</a></li>
            </ul>
        </nav>
    
        <!-- Search -->
        <div class="search">
            <div class="input-group">
                <input type="text" ng-model="searchQuery" placeholder="Search..." ng-keyup="search()" class="form-control">
                <button class="btn btn-outline-secondary" type="button" ng-click="search()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

    
        <!-- Login/Logout Section -->
        <div class="login" ng-if="!isLoggedIn">
            <a href="#/login">Login</a>
        </div>
    
        <!-- Profile Menu (when logged in) -->
        <div class="profile-menu" ng-if="isLoggedIn">
            <div class="dropdown">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Hero Section -->
    <div class="container-fluid position-relative hero-section">
        <!-- Image Section -->
        <div class="row">
            <div class="col-12">
                <img ng-src="{{heroImages[currentImageIndex].src}}" alt="{{heroImages[currentImageIndex].alt}}" class="hero-image">
            </div>
        </div>
    
        <!-- Text Section -->
        <div class="hero-content">
            <h1>{{heroText.title}}</h1>
            <p>{{heroText.subtitle}}</p>
        </div>
    
        <!-- Navigation Buttons -->
        <div class="hero-buttons">
            <button class="btn btn-dark" ng-click="changeImage('prev')">&#10094;</button>
            <button class="btn btn-dark" ng-click="changeImage('next')">&#10095;</button>
        </div>
    </div>       
    

    <!-- Main Category Section -->
    <div class="container">
        <!-- About Us Section -->
        <div class="row my-5 d-flex align-items-center justify-content-around">
            <div class="col-lg-6">
                <img src="https://plus.unsplash.com/premium_photo-1661767467261-4a4bed92a507?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dGVhbXxlbnwwfHwwfHx8MA%3D%3D" class="img-fluid" alt="team-photo">
            </div>
            <div class="col-lg-4 mt-4 text-center text-color">
                <h2 class="fw-bold">About Us</h2>
                <p>
                    Our website is your ultimate hub for creative and practical lifestyle content. 
                    From DIY projects and style tips to clever tricks and delicious recipes, 
                    we provide curated ideas to inspire and simplify your daily life. 
                    Discover fun, innovative, and helpful insights to make every moment more enjoyable and fulfilling.
                </p>
            </div>
        </div>

        <!-- Events Section -->
        <div class="row my-5 align-items-center justify-content-center">
            <div class="col-lg-4 mt-4 text-center text-color">
                <h2 class="fw-bold">Events</h2>
                <p>
                    We've created a variety of events to help you live a balanced and fulfilling life. 
                    From fitness to mindfulness, each event is designed to improve your daily routine. 
                    Stay updated and join us for these exciting experiences!
                </p>
            </div>
            <div class="col-lg-7">
                <div id="eventCarousel" class="carousel slide">
                    <div class="carousel-inner" ng-if="events.length">
                        <div class="carousel-item p-3" ng-repeat="event in events" ng-class="{'active': $first}">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="caption-box text-color p-3 rounded shadow d-flex align-items-center justify-content-center">
                                    <h3 class="event-title">{{ event.name }}</h3>
                                    <div class="details flex-column">
                                        <p><strong>Date:</strong> {{ event.date | date:'MMMM dd, yyyy' }}</p>
                                        <p><strong>Time:</strong> {{ event.time | date:'HH:mm' }}</p>
                                        <p><strong>Location:</strong> </p>
                                        <p>{{ event.location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!events.length" class="text-center">
                            <p>No events available at the moment.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="page-container">
            <div class="page-content">
                <!-- Gallery Section -->
                <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
                    <div class="col mb-4" ng-repeat="article in visibleCards" ng-click="showArticleContent(article)">
                        <div class="card border-0 p-0"> 
                            <a href="{{article.link}}">
                                <img ng-src="{{article.image}}" alt="{{article.alt}}" class="card-img-top">
                            </a>
                            <div class="card-body text-center p-3">
                                <h3 class="card-title">{{article.title}}</h3>
                                <p class="card-text">By: {{article.author}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <!-- Article Modal -->
        <div id="articleModal" class="modal">
            <div class="modal-content">
                <span class="close-btn" ng-click="closeModal()">&times;</span>
                <h2>{{selectedArticle.title}}</h2>
                <div class="article-content">
                    <p>{{selectedArticle.content}}</p>
                </div>
            </div>
        </div>                
    </div>
    
    <!-- Brand Content -->
    <div class="brands-content">
        <h2>Brands love us!</h2>
        <div class="wrap">
            <div class="entry">
                <img src="https://abeautifulmess.com/wp-content/uploads/2022/08/shopify-156x45.png" alt="Shopify">
            </div>
            <div class="entry">
                <img src="https://abeautifulmess.com/wp-content/uploads/2022/08/new-york-times-156x21.png" alt="TNYT">
            </div>
            <div class="entry">
                <img src="https://abeautifulmess.com/wp-content/uploads/2022/08/etsy-156x78.png" alt="Etsy">
            </div>
            <div class="entry">
                <img src="https://abeautifulmess.com/wp-content/uploads/2022/08/the-guardian-156x51.png" alt="TheGuardian">
            </div>
            <div class="entry">
                <img src="https://abeautifulmess.com/wp-content/uploads/2022/08/yahoo-156x40.png" alt="YAHOO">
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <section class="testimonial-section" ng-controller="HomeController">
        <b>
            <h2>
            Testimonial
        </h2>
        </b>
        <div class="carousel slide" data-bs-ride="carousel" id="testimonialCarousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonial">
                        <div class="testimonial-item" ng-repeat="testimonial in testimonials">
                            <img ng-src="{{testimonial.img}}" alt="{{testimonial.name}}"/>
                            <h5>{{testimonial.name}}</h5>
                            <p>{{testimonial.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button ng-repeat="testimonial in testimonials" ng-class="{'active': $index === 0}" data-bs-slide-to="{{$index}}" data-bs-target="#testimonialCarousel" type="button"></button>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About <span>Chic & Simple</span></h3>
                <p>We're a blog dedicated to helping people find their unique style, create delicious recipes, and enjoy creative DIYs. Explore our content and stay chic and simple.</p>
            </div>

            <div class="footer-section subscribe">
                <h3>Subscribe to Our Newsletter</h3>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>

            <div class="footer-section links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="">Halloween</a></li>
                    <li><a href="">Style</a></li>
                    <li><a href="">Recipes</a></li>
                    <li><a href="../html/diy_category.html">DIY</a></li>
                    <li><a href="../html/category.html">Category</a></li>
                    <li><a href="../html/contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="footer-section social">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=URL_HALAMAN_ANDA" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/?url=URL_HALAMAN_ANDA" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://pinterest.com/pin/create/button/?url=URL_HALAMAN_ANDA&media=URL_IMAGE&description=DESKRIPSI" target="_blank">
                        <i class="fab fa-pinterest"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=URL_HALAMAN_ANDA&text=Chic%20&Simple" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>                
                </div>
            </div>
        </div>
    </footer>

</body>
</html>