<div ng-controller="ProfileController">

    <!-- Header -->
    <div class="header d-flex justify-content-between align-items-center">
        <div>
            <div class="welcome">
                Welcome, {{userDetails.username}}
            </div>
            <div class="date">
                {{currentDate}}
            </div>
        </div>

        <!-- Navigation Menu -->
        <nav>
            <ul>
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/article">Articles</a></li>
                <li><a href="#!/event">Events</a></li>
            </ul>
        </nav>

        <!-- Profile Menu (when logged in) -->
        <div class="profile-menu">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#!/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <i class="fas fa-bell mx-3"></i>
        </div>
    </div>

    <!-- Profile Card -->
    <div class="container mt-5">
        <div class="profile-card p-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-user-circle profile-pic-large me-3" style="font-size: 80px;"></i>
                <div>
                    <div class="profile-name">{{userDetails.username}}</div>
                    <div class="profile-email">{{userDetails.email}}</div>
                    <div class="profile-role">{{userDetails.role}}</div> <!-- Display role but not editable -->
                </div>
                <button class="btn-edit ms-auto" ng-click="toggleEditMode()">Edit</button>
            </div>

            <!-- Form untuk menampilkan dan mengedit data -->
            <div class="row mt-4">
                <!-- Old Password & New Password Input hanya saat Edit Mode aktif -->
            <!-- Form untuk menampilkan dan mengedit data -->
            <form name="profileForm" ng-submit="updatePassword()" novalidate>
                <div class="row mt-4">
                    <!-- Old Password & New Password Input hanya saat Edit Mode aktif -->
                    <div class="col-md-6" ng-if="isEditMode">
                        <label>Old Password</label>
                        <input class="form-control" ng-model="user.oldPassword" name="oldPassword" type="password" placeholder="Enter old password" required />
                    </div>
                    <div class="col-md-6" ng-if="isEditMode">
                        <label>New Password</label>
                        <input class="form-control" ng-model="user.newPassword" name="newPassword" type="password" placeholder="Enter new password" required />
                    </div>
                    
                    <!-- Tampilkan data lainnya, role tidak bisa diubah -->
                    <div class="col-md-6" ng-if="!isEditMode">
                        <label>Username</label>
                        <input class="form-control" ng-model="userDetails.username" type="text" disabled />
                    </div>
                    <div class="col-md-6" ng-if="!isEditMode">
                        <label>Email</label>
                        <input class="form-control" ng-model="userDetails.email" type="email" disabled />
                    </div>
                </div>

                <!-- Button untuk menyimpan perubahan -->
                <button class="btn btn-primary mt-3" type="submit" ng-if="isEditMode" ng-disabled="profileForm.$invalid">Save Changes</button>
            </form>
        </div>
    </div>    

</div>